
.App {
  font-family: Arial, sans-serif;
  text-align: center;
}


h1 {
  color: #333;
}
.task-list {
  margin-top: 20px;
}


.task {
  background-color: #5d64bc;
  padding: 10px;
  margin: 5px 0;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task span {
  flex-grow: 1;
  text-align: left;
}

.task button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.task button:hover {
  background-color: #c82333;
}

/* Styles for the task form */
form {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 10px;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
